#secao__hanoi{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.torre{
    height: 300px;
    background-color: black;
    width: 40px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

}

#disco1 {
    width: 200px;
    height: 30px;
    background-color: yellow;
    border-radius: 5px;
}
#disco2 {
    width: 250px;
    height: 30px;
    background-color:coral;
    border-radius: 5px;
}
#disco3 {
    width: 300px;
    height: 30px;
    background-color:darkgreen;
    border-radius: 5px;
}